apiVersion: v1
data:
  config.yaml: |
    name: bare_minimum_configuration
    verbosity: 3

    global:
      TRAINED_ON: SubMIT and the people who started A2rchi
      DATA_PATH: "/root/data/"
      ACCOUNTS_PATH: "/root/.accounts/"
      LOCAL_VSTORE_PATH: "/root/data/vstore/"
      ACCEPTED_FILES:
        - ".txt"
        - ".html"
        - ".pdf"

    interfaces:
      chat_app:
        PORT: {{ .Values.chat.port }}
        EXTERNAL_PORT: {{ .Values.chat.externalPort }}
        HOST: 0.0.0.0
        HOSTNAME: {{ include "a2rchi.fullname" . }}-chat
        template_folder: "/root/A2rchi/a2rchi/interfaces/chat_app/templates"
        static_folder: "/root/A2rchi/a2rchi/interfaces/chat_app/static"
        num_responses_until_feedback: 3
        include_copy_button: False
      uploader_app:
        PORT: 5001
        EXTERNAL_PORT: 5003
        HOST: 0.0.0.0 # either "0.0.0.0" (for public) or "127.0.0.1" (for internal)
        template_folder: /root/A2rchi/a2rchi/interfaces/uploader_app/templates
        verify_urls: False
      grader_app:
        PORT: 7861
        EXTERNAL_PORT: 7861
        HOST: 0.0.0.0
        HOSTNAME: localhost
        template_folder: /root/A2rchi/a2rchi/interfaces/grader_app/templates
        num_problems: 1
        local_rubric_dir: 
        local_users_csv_dir: 
      grafana:
        EXTERNAL_PORT: 3000

    chains:
      input_lists:
{{- range $name, $_ := .Values.weblists }}
        - configs/{{ $name }}
{{- end }}
      base:
        ROLES:
          - User
          - A2rchi
          - Expert
        logging:
          input_output_filename: "chain_input_output.log"
      prompts:
        CONDENSING_PROMPT: "/root/A2rchi/condense.prompt"
        MAIN_PROMPT: "/root/A2rchi/main.prompt"
        IMAGE_PROCESSING_PROMPT: ""
        GRADING_SUMMARY_PROMPT: ""
        GRADING_ANALYSIS_PROMPT: ""
        GRADING_FINAL_GRADE_PROMPT: ""
      chain:
        MODEL_NAME: OllamaInterface
        CONDENSE_MODEL_NAME: OllamaInterface
        SUMMARY_MODEL_NAME: OllamaInterface
        MODEL_CLASS_MAP:
          OllamaInterface:
            kwargs:
              base_model: "gemma3:latest"
              url: {{ .Values.ollama.url }}

    utils:
      redmine:
        redmine_update_time: 10
        answer_tag: 'blah'
      postgres:
        port: 5432
        user: a2rchi
        database: {{ .Values.postgresql.auth.database }}
        host: {{ .Release.Name }}-postgresql
      data_manager:
        stemming:
          ENABLED: false
        CHUNK_SIZE: 1000
        CHUNK_OVERLAP: 0
        use_HTTP_chromadb_client: True
        chromadb_host: {{ include "a2rchi.fullname" . }}-chromadb
        chromadb_port: 8000 # This should never really need to be changed off of 8000
        chromadb_external_port:  8000
        collection_name: collection_test
        reset_collection: True
        num_documents_to_retrieve: 5
        distance_metric: 'cosine'
      embeddings:
        EMBEDDING_NAME: HuggingFaceEmbeddings
        query_embedding_instructions: null
        EMBEDDING_CLASS_MAP:
          HuggingFaceEmbeddings:
            class: HuggingFaceEmbeddings
            kwargs:
              model_name: sentence-transformers/all-MiniLM-L6-v2
              model_kwargs:
                device: cuda
              encode_kwargs: 
                normalize_embeddings: True
            similarity_score_reference: 10
      scraper:
        reset_data: True
        verify_urls: False
        enable_warnings: False
      piazza:
        network_id: 
        update_time: 60 # seconds
      cleo: 
        cleo_update_time: 10
      mailbox: 
        IMAP4_PORT:  143
        mailbox_update_time: 10
      jira:
        JIRA_URL: 
        JIRA_PROJECTS:
        ANONYMIZE_DATA: True
      anonymizer:
        nlp_model: en_core_web_sm
        excluded_words:
          - John
          - Jane
          - Doe
        greeting_patterns:
          - ^(hi|hello|hey|greetings|dear)\b
          - ^\w+,\s*
        signoff_patterns:
          - \b(regards|sincerely|best regards|cheers|thank you)\b
          - ^\s*[-~]+\s*$
        email_pattern: '[\w\.-]+@[\w\.-]+\.\w+'
        # This is a JIRA specific username pattern
        username_pattern: '\[~[^\]]+\]'
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  name: {{ include "a2rchi.fullname" . }}-chat-config

