apiVersion: v1
data:
  config.yaml: |
    name: bare_minimum_configuration

    global:
      TRAINED_ON: SubMIT and the people who started A2rchi
      DATA_PATH: "/root/data/"
      ACCOUNTS_PATH: "/root/.accounts/"
      LOCAL_VSTORE_PATH: "/root/data/vstore/"
      ACCEPTED_FILES:
        - ".txt"
        - ".html"
        - ".pdf"

    interfaces:
      chat_app:
        PORT: {{ .Values.chat.port }}
        EXTERNAL_PORT: {{ .Values.chat.externalPort }}
        HOST: 0.0.0.0
        HOSTNAME: {{ include "a2rchi.fullname" . }}-chat
        template_folder: "/root/A2rchi/a2rchi/interfaces/chat_app/templates"
        static_folder: "/root/A2rchi/a2rchi/interfaces/chat_app/static"
        num_responses_until_feedback: 3
        include_copy_button: False
      uploader_app:
        PORT: 5001
        EXTERNAL_PORT: 5003
        HOST: 0.0.0.0 # either "0.0.0.0" (for public) or "127.0.0.1" (for internal)
        template_folder: /root/A2rchi/a2rchi/interfaces/uploader_app/templates
        verify_urls: False
      grader_app:
        PORT: 7861
        EXTERNAL_PORT: 7861
        HOST: 0.0.0.0
        HOSTNAME: localhost
        template_folder: /root/A2rchi/a2rchi/interfaces/grader_app/templates
        num_problems: 1
        local_rubric_dir: 
        local_users_csv_dir: 
      grafana:
        EXTERNAL_PORT: 3000

    chains:
      input_lists:
{{- range $name, $_ := .Values.weblists }}
        - configs/{{ $name }}
{{- end }}
      base:
        ROLES:
          - User
          - A2rchi
          - Expert
        logging:
          input_output_filename: "chain_input_output.log"
      prompts:
        CONDENSING_PROMPT: "/root/A2rchi/condense.prompt"
        MAIN_PROMPT: "/root/A2rchi/main.prompt"
        IMAGE_PROCESSING_PROMPT: ""
        GRADING_SUMMARY_PROMPT: ""
        GRADING_ANALYSIS_PROMPT: ""
        GRADING_FINAL_GRADE_PROMPT: ""
      chain:
        MODEL_NAME: HuggingFaceOpenLLM
        CONDENSE_MODEL_NAME: HuggingFaceOpenLLM
        IMAGE_PROCESSING_MODEL_NAME: null
        GRADING_SUMMARY_MODEL_NAME: null
        GRADING_ANALYSIS_MODEL_NAME: null
        GRADING_FINAL_GRADE_MODEL_NAME: null
        MODEL_CLASS_MAP:
          AnthropicLLM:
            class: AnthropicLLM
            kwargs:
              model_name: claude-3-opus-20240229
              temperature: 1
          OpenAIGPT4:
            class: OpenAILLM
            kwargs:
              model_name: gpt-4
              temperature: 1
          OpenAIGPT35:
            class: OpenAILLM
            kwargs:
              model_name: gpt-3.5-turbo
              temperature: 1
          DumbLLM:
            class: DumbLLM
            kwargs:
              sleep_time_mean: 3
              filler: null
          LlamaLLM:
            class: LlamaLLM
            kwargs:
              base_model: meta-llama/Llama-2-7b-chat-hf
              peft_model: null
              enable_salesforce_content_safety: False
              quantization: True
              max_new_tokens: 4096
              seed: null
              do_sample: True
              min_length: null
              use_cache: True
              top_p: 0.9
              temperature: 0.6
              top_k: 50
              repetition_penalty: 1.0
              length_penalty: 1
              max_padding_length: null
          HuggingFaceOpenLLM:
            class: HuggingFaceOpenLLM
            kwargs:
              base_model: Qwen/Qwen2.5-7B-Instruct-1M
              peft_model: null
              enable_salesforce_content_safety: False
              quantization: True
              max_new_tokens: 4096
              seed: null
              do_sample: True
              min_length: null
              use_cache: True
              top_p: 0.9
              temperature: 0.6
              top_k: 50
              repetition_penalty: 1.0
              length_penalty: 1
              max_padding_length: null
          HuggingFaceImageLLM:
            class: HuggingFaceImageLLM
            kwargs:
              base_model: Qwen/Qwen2.5-VL-7B-Instruct
              quantization: True
              min_pixels: 175616
              max_pixels: 1003520
              max_new_tokens: 4096
              seed: null
              do_sample: False
              min_length: null
              use_cache: True
              top_k: 50
              repetition_penalty: 1.0
              length_penalty: 1
        chain_update_time: 10

    utils:
      postgres:
        port: 5432
        user: a2rchi
        database: {{ .Values.postgresql.auth.database }}
        host: {{ .Release.Name }}-postgresql
      data_manager:
        CHUNK_SIZE: 1000
        CHUNK_OVERLAP: 0
        use_HTTP_chromadb_client: True
        chromadb_host: {{ include "a2rchi.fullname" . }}-chromadb
        chromadb_port: 8000 # This should never really need to be changed off of 8000
        chromadb_external_port:  8000
        collection_name: collection_test
        reset_collection: True
        num_documents_to_retrieve: 5
      embeddings:
        EMBEDDING_NAME: HuggingFaceEmbeddings
        EMBEDDING_CLASS_MAP:
          OpenAIEmbeddings:
            class: OpenAIEmbeddings
            kwargs:
              model: text-embedding-3-small
            similarity_score_reference: 10
          HuggingFaceEmbeddings:
            class: HuggingFaceEmbeddings
            kwargs:
              model_name: sentence-transformers/all-MiniLM-L6-v2
              model_kwargs:
                device: cuda
              encode_kwargs: 
                normalize_embeddings: True
            similarity_score_reference: 10
      scraper:
        reset_data: True
        verify_urls: False
        enable_warnings: False
      piazza:
        network_id: 
        update_time: 60 # seconds
      cleo: 
        cleo_update_time: 10
      mailbox: 
        IMAP4_PORT:  143
        mailbox_update_time: 10
      jira:
        JIRA_URL: 
        JIRA_PROJECTS:
        ANONYMIZE_DATA: True
      anonymizer:
        nlp_model: en_core_web_sm
        excluded_words:
          - John
          - Jane
          - Doe
        greeting_patterns:
          - ^(hi|hello|hey|greetings|dear)\b
          - ^\w+,\s*
        signoff_patterns:
          - \b(regards|sincerely|best regards|cheers|thank you)\b
          - ^\s*[-~]+\s*$
        email_pattern: '[\w\.-]+@[\w\.-]+\.\w+'
        # This is a JIRA specific username pattern
        username_pattern: '\[~[^\]]+\]'
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  name: {{ include "a2rchi.fullname" . }}-chat-config
